
<style>
	.half {
		width: 50%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.half-left {
		background: tomato;
		padding: 20px;
	}
	.half-left .date {
		color: #fff;
	}
	.half-left h1 {
		margin: 0;
		line-height: 1.2;
		color: #fff;
	}
	.half-right {
		padding: 20px;
	}
	.half-right p:first-child {
		margin-top: 0;
	}
	.example {
		color: #aaa;
		text-align: center;
		font-style: italic;
	}
</style>