---
layout: default
published: true
---


<article class="post">
	<div class="half half-left">
<h1>{{ page.title }}</h1>
	  <div class="date">
	    Written on {{ page.date | date: "%B %e, %Y" }}
	  </div>
      {% if page.mood %}
      <p>Current Mood:</p>
      {% if page.mood == "happy" %}
         :)
      {% elsif page.mood == "sad" %}
         :(
      {% else %}
          :$
      {% endif %}
      {% endif %}
	<div class="half half-right">
	  <div class="entry">
	    {{ content }}
	  </div>
	</div>
	<p class="example">This is the example post type</p>

  {% include disqus.html %}
</article>
